<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hush"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.hush.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hush.permission.C2D_MESSAGE" />

    <application
        android:name="com.hush.HushApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Hush"
        android:screenOrientation="portrait" >
        
        <activity
            android:name="com.hush.activities.HushLoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hush.activities.ChatsListActivity"
            android:icon="@drawable/ic_app_icon"
            android:label="@string/title_activity_all_chats" >
        </activity>
        <activity
            android:name="com.hush.activities.NewChatActivity"
            android:icon="@drawable/ic_app_icon"
            android:label="@string/title_activity_new_chat_topic"
            android:parentActivityName="com.hush.activities.ChatsListActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hush.activities.ChatsListActivity" />
        </activity>
        <activity
            android:name="com.hush.activities.InviteFriendsActivity"
            android:icon="@drawable/ic_app_icon"
            android:label="@string/title_activity_invite_friends"
            android:parentActivityName="com.hush.activities.ChatsListActivity" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hush.activities.ChatsListActivity" />
        </activity>
        <activity
            android:name="com.hush.activities.ChatWindowActivity"
            android:icon="@drawable/ic_app_icon"
            android:label="@string/title_activity_chat"
            android:parentActivityName="com.hush.activities.ChatsListActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
            android:imeOptions="actionDone" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hush.activities.ChatsListActivity" />
        </activity>
        <activity
            android:name="com.hush.activities.PickFriendsActivity"
            android:label="@string/title_activity_pick_friends"
            android:parentActivityName="com.hush.activities.ChatsListActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hush.activities.ChatsListActivity" />
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
		        <action android:name="android.intent.action.RECEIVE_BOOT_COMPLETED" />  
            </intent-filter>
        </receiver>
        <receiver android:name="com.hush.HushPushReceiver" android:exported="false">
  			<intent-filter>
    			<action android:name="android.intent.action.BOOT_COMPLETED" />  
         		<action android:name="android.intent.action.USER_PRESENT" />
    			<action android:name="com.hush.HUSH_MESSAGE" />
			</intent-filter>
		</receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.hush" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
